@import url(https://fonts.googleapis.com/css?family=PT+Serif:400italic);
body {
background: #3498db;
height:100%;
width:auto;
}

.nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav a {
  color: white;
  margin-right: 30px;
}

a {
  transition: transform 200ms;
}

a:hover {
  transform: scale(1.2);
}

h1{
font-family: 'PT Serif', serif;
font-size:2.5em;
/*text-align:center;*/
color:#fff;
text-shadow:2px 2px 3px rgba(150,150,150,0.75);

}
.quote{
color:#ffffff;
text-align:center;
vertical-align:middle;
}

#quoteblock{
font-family: 'PT Serif', serif;
text-shadow:2px 2px 3px rgba(150,150,150,0.75);
font-size:2em;
}

#author{
font-family: 'PT Serif', serif;
text-align:center;
color:#fff;
text-shadow:2px 2px 3px rgba(150,150,150,0.75);
}

.quoteBox {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto; margin-right: auto;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.calendar {
  margin-left: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.calendar h1 {
  margin-bottom: 0px;
}

iframe {
  margin-bottom: 40px;
}

.googler {
  background-color: #fff;
  height: 44px;
  width: 200px;
  vertical-align: top;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms, transform 200ms;
  font-size: 120%;
  text-align: center;
  }

.googler:hover {
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.3);
  transform: scale(1.5);
}

.googler:active {
}

.googler::placeholder {
  font-size: 120%;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.footer a {
  color: white;
  padding-right: 10px;
  padding-bottom: 10px;
}

.btn {
  padding: 5px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
  transition: box-shadow 200ms, background 200ms, color 200ms, transform 200ms;
  color: white;
}

.btn:hover {
  background: rgba(0,0,0,.3);
  color: white;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,0.3);
}

.slogan {
  cursor: pointer;
}
