@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
background: #3498db;
height:100%;
width:auto;
}

.nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav a {
  color: white;
  margin-right: 30px;
  font-family: Raleway;
  text-decoration: none;
}

a {
  transition: transform 200ms;
}

a:hover {
  transform: scale(1.2);
}

h1 {
  font-family: Raleway;
  font-size:2.5em;
  /*text-align:center;*/
  color:#fff;
  font-weight: 400;
}

.title {
  padding-bottom: 1rem;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar {
  margin-right: 10rem;
}

.news {
  margin-left: 10rem;
}

.ship {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 300px;
  width: 500px;
  padding-left: 3rem;
}

iframe {
  margin-bottom: 40px;
}

.googler {
  background-color: #fff;
  height: 44px;
  width: 200px;
  vertical-align: top;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms, transform 200ms;
  font-size: 120%;
  text-align: center;
  }

.googler:hover {
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.3);
  transform: scale(1.5);
}

.googler:active {
}

.googler::placeholder {
  font-size: 120%;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.footer a {
  color: white;
  padding-right: 20px;
  padding-bottom: 10px;
  font-family: Raleway;
  text-decoration: none;
}

.btn {
  padding: 5px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
  transition: box-shadow 200ms, background 200ms, color 200ms, transform 200ms;
  color: white;
}

.btn:hover {
  /*background: rgba(0,0,0,.3);*/
  color: white;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,0.3);
}


.logo {
  transition: all 2s;
}

.logo:hover {
  transform: scale(1.3) rotate(3deg);
}


.slogan {
  transition: all 600ms;
}

.slogan:hover {
  text-shadow: 0px 0px 7px rgba(44, 62, 80,1.0);
}
